/* style.css */

/* Alap stílusok */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('hatter.jpg');
    background-size: auto;
    background-repeat: repeat;
    color: #000;
}

/* Fejléc */
.header {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 10px;
}

.header h1 {
    color: #fff;
    margin: 0;
    font-size: 24px;
}

/* Menü */
nav {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Tartalom középre igazítása */
#videos,
#map {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}

iframe {
    border: 0;
    margin-bottom: 20px;
    border-radius: 8px;
}

/* Címkék középre igazítása */

h1 {
    color: #000000;
    font-size: 45px;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    color: #bfdd16;
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
}

h3 {
    color: #f4b30e;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
}

/* Címsor háttérsáv */
.hero {
    background-color: rgba(166, 21, 21, 0.2);
    font-size: 20px;
    margin-bottom: 10px;
    padding: 20px;
}

/* Két videó egymás mellé igazítása */
video {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
}

#welcome-message {
    float: right; /* Balra igazítás */
    margin-left: 20px; /* Margó az üzenet és az oldal széle között */
    font-size: 18px; /* Betűméret */
    font-weight: bold; /* Félkövér stílus */
}

#kijelentkezes {
    float: left; /* Balra igazítás */
    margin-left: 20px; /* Margó az üzenet és az oldal széle között */
    font-size: 18px; /* Betűméret */
    font-weight: bold; /* Félkövér stílus */
}